Repository DannyBiernacki/openwebui-pro, changes with the labels that .github/labeler.yml gives for each.
All labels: type: bug, type: feature, type: documentation, type: refactor, type: performance, type: security, type: accessibility, priority: high, priority: medium, priority: low, status: needs review, status: in progress, status: blocked, area: frontend, area: backend, area: ai, area: m4, version: major, version: minor, version: patch

docs(readme): enhance project documentation and setup guides
  .gitignore
  CONTRIBUTING.md
  README.md
  docker-compose.yml
Labels: type: documentation

feat(ui): dodaj komponenty trybu kreatora i płótna
  .cursor/rules/ai-integration.mdc
  .cursor/rules/core-development.mdc
  .cursor/rules/git-workflow.mdc
  .cursor/rules/testing-strategy.mdc
  .cursor/rules/ui-components.mdc
  frontend/src/components/layout/MainContent.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/TopBar.tsx
  frontend/src/components/modes/canvas/Canvas.tsx
  frontend/src/components/modes/canvas/CanvasView.tsx
  frontend/src/components/modes/canvas/Connection.tsx
  frontend/src/components/modes/canvas/Palette.tsx
  frontend/src/components/modes/canvas/Toolbar.tsx
  frontend/src/components/modes/canvas/widgets/Widget.tsx
  frontend/src/components/modes/wizard/Confirmation.tsx
  frontend/src/components/modes/wizard/Error.tsx
  frontend/src/components/modes/wizard/Help.tsx
  frontend/src/components/modes/wizard/Loading.tsx
  frontend/src/components/modes/wizard/Navigation.tsx
  frontend/src/components/modes/wizard/Progress.tsx
  frontend/src/components/modes/wizard/Settings.tsx
  frontend/src/components/modes/wizard/Success.tsx
  frontend/src/components/modes/wizard/Summary.tsx
  frontend/src/components/modes/wizard/WizardView.tsx
  frontend/src/components/modes/wizard/steps/Step.tsx
  frontend/src/components/modes/workspace/WorkspaceView.tsx
  frontend/src/lib/stores/ai-store.ts
  frontend/src/lib/stores/app-store.ts
  frontend/src/lib/stores/canvas-store.ts
  frontend/src/lib/stores/wizard-store.ts
Labels: none

feat(layout): implement core layout system with responsive design
  frontend/package.json
Labels: none

feat(backend): inicjalizacja API, migracji, konfiguracji i CI/CD
  .github/workflows/ci.yml
  backend/.eslintrc.json
  backend/.prettierrc
  backend/Dockerfile
  backend/package.json
  backend/src/lib/auth.ts
  backend/src/lib/db.ts
  backend/src/lib/migrations/0000_initial.ts
  backend/src/lib/schema.ts
  backend/src/middleware/auth.ts
  backend/src/routes/auth.ts
  backend/src/server.ts
  backend/tsconfig.json
  coolify.json
  docker-compose.yml
  nginx.conf
  ollama.json
  qdrant.json
  redis.conf
Labels: none

feat(frontend): dodano typowany klient API i typy dla integracji z backendem
  frontend/src/lib/api/api-client.ts
  frontend/src/lib/api/api-types.ts
Labels: none

feat(api): implement core backend API for AI and vector search
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/app.ts
  backend/src/config.ts
  backend/src/lib/db.ts
  backend/src/routes/ai.ts
  backend/src/routes/vector.ts
  backend/src/server.ts
  backend/src/services/ai-service.ts
  backend/src/services/ollama-service.ts
  backend/src/services/openai-service.ts
  backend/src/services/qdrant-service.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/queries/ai-queries.ts
  frontend/src/lib/queries/auth-queries.ts
  frontend/src/lib/queries/document-queries.ts
  frontend/src/lib/queries/project-queries.ts
Labels: none

fix(api): popraw schematy walidacji dla endpointów AI i Vector
  backend/src/routes/ai.ts
  backend/src/routes/vector.ts
Labels: none

feat(standards): update Cursor rules to 2025 professional standards
  .cursor/rules/ai-integration.mdc
  .cursor/rules/core-development.mdc
  .cursor/rules/testing-strategy.mdc
  .cursor/rules/ui-components.mdc
  backend/package.json
  backend/pnpm-lock.yaml
  frontend/src/components/ai/StreamingResponseCard.tsx
  vector.json
Labels: none

docs(standards): add 2025 professional documentation
  docs/development/component-guidelines.md
  docs/npm/shadcn-ui/README.md
  docs/specs/design-system-specification.md
Labels: type: documentation, priority: low, status: needs review, status: in progress, status: blocked

.github/labeler.yml:

# Etykiety dla typów zmian
'type: bug':
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/__tests__/**'
  - '**/test/**'

'type: feature':
  - 'src/features/**'
  - 'src/components/**'
  - 'src/hooks/**'

'type: documentation':
  - 'docs/**'
  - '*.md'
  - '**/*.md'

'type: refactor':
  - 'src/lib/**'
  - 'src/utils/**'
  - 'src/services/**'

'type: performance':
  - 'src/performance/**'
  - 'src/optimization/**'

'type: security':
  - 'src/security/**'
  - 'src/auth/**'

'type: accessibility':
  - 'src/a11y/**'
  - 'src/accessibility/**'

# Etykiety dla priorytetów
'priority: high':
  - 'src/security/**'
  - 'src/auth/**'
  - 'src/core/**'

'priority: medium':
  - 'src/features/**'
  - 'src/components/**'

'priority: low':
  - 'docs/**'
  - 'src/examples/**'

# Etykiety dla statusu
'status: needs review':
  - 'src/**'
  - 'docs/**'

'status: in progress':
  - 'src/**'
  - 'docs/**'

'status: blocked':
  - 'src/**'
  - 'docs/**'

# Etykiety dla obszarów
'area: frontend':
  - 'src/components/**'
  - 'src/hooks/**'
  - 'src/styles/**'

'area: backend':
  - 'src/api/**'
  - 'src/services/**'
  - 'src/db/**'

'area: ai':
  - 'src/ai/**'
  - 'src/models/**'
  - 'src/ollama/**'

'area: m4':
  - 'src/m4/**'
  - 'src/optimization/**'
  - 'src/performance/**'

# Etykiety dla wersji
'version: major':
  - 'package.json'
  - 'CHANGELOG.md'

'version: minor':
  - 'src/features/**'
  - 'src/components/**'

'version: patch':
  - 'src/fixes/**'
  - 'src/patches/**'
